h2 {
    display: block;
    text-align: center;
    width: 80%;
    margin: 0.3em auto;
    padding-bottom: 0.25em;
    border-bottom: 3px dashed #ff9f1c;
    font-family: "Passion One", sans-serif;
    font-size: 3.5em;
    color: #FDFFFC;
}
p {
    color: #011627;
    font-family: "Overpass", sans-serif;
    display: block;
    width: 90%;
    margin: 1em auto 2em;
    font-size: 1.35em;
    text-align: justify;
}
.fixed {
  position: fixed;
}

.section {
  padding: 20px 0;
  min-height: 700px;
  background: #626868;
}
h3 {
    display: block;
    text-align: center;
    width: 60%;
    padding-bottom: 0.25em;
    font-family: "Passion One", sans-serif;
    color: #FDFFFC;
    font-size: 2.5em;
    margin: 1em auto 0.45em;
}
.icon-container {
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
}
.icon-container i {
  position: relative;
  font-size: 100px;
  margin: 0 20px;
  color: #ff9f1c;
  opacity: 0;
}
.icon-container i:hover {
  color: #ffca82;
}
.slideIn {
  animation-name: slideIn;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}
@keyframes slideIn {
  from {
    bottom: -100;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.project-container {
  position: relative;
  margin: 0 auto 30px;
  background: #ff9f1c;
}
.project-container img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
  display: block;
}
.project-container p {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  font-size: 3em;
  text-align: center;
  font-family: "Overpass", sans-serif;
  display: none;
}
.project-container:hover img {
  opacity: .5;
  transition: opacity .25s;
}
.project-container:hover p {
  display: block;
}


.center-content {
  max-width: 900px;
  margin: 0 auto;
  margin-left: 30%;
}
