{% extends "music/music.html" %}
{% block content %}

<div class="container ">
  <div class="row justify-content-center ">
    <div class="col-lg-6">
      <div class="tab">
        <input id="tab-one" type="checkbox" name="tabs" class="chb">
        <label for="tab-one">Classical Fusion</label>
        <div class="tab-content">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hsI_F9qJWzo"></iframe>
          </div>
        </div>
      </div>
      <div class="tab">
        <input id="tab-two" type="checkbox" name="tabs" class="chb">
        <label for="tab-two">Way of Life</label>
        <div class="tab-content">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cNtdoUwXSGA"></iframe>
          </div>
        </div>
      </div>
      <div class="tab">
        <input id="tab-three" type="checkbox" name="tabs" class="chb">
        <label for="tab-three">Every Wave</label>
        <div class="tab-content">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IpK6z36pz_E"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(".chb").change(function() {
      var checked = $(this).is(':checked');
      $(".chb").prop('checked',false);
      if(checked) {
          $(this).prop('checked',true);
      }
  });
</script>

{% endblock %}
