{% extends "music/music.html" %}
{% block content %}

<div id="lampadario">
  <input type="radio" name="switch" value="on" />
  <input type="radio" name="switch" value="off" checked="checked"/>
  <label for="switch"></label>
  <div id="filo"></div>
  <div id="lampadina">
    <div id="sorpresa">
      <div id="footer">
        <a href="/music/accordian" class="button">
         <div class="qube">
            <div class="front">now click!</div>
            <div class="back">mouse over me!</div>
         </div>
        </a>
      </div>
      <!--<div id="shadow"> Hello there! </div> -->
    </div>
  </div>
</div>

<div id="left">
  <div id="one"></div>
  <div id="two"></div>
  <div id="three"></div>
  <div id="four"></div>
  <div id="five"></div>
</div>
<div id="maniac">
  <h1 id="maniacText">Tripp Gordon</h1>
</div>
<div id="right">
  <div id="one"></div>
  <div id="two"></div>
  <div id="three"></div>
  <div id="four"></div>
  <div id="five"></div>
</div>

{% endblock %}
