@font-face {
  font-family: 'Maniac-Logo';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/394353/rockb.ttf");
}

#maniacText {
  font-size: $fontsize;
  //background: url("http://1389blog.com/pix/white256.jpg") center;
  background: $textBG center;
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 800px 200px;
  background-position: 0 300px;
  background-repeat: repeat-x;
  color: $textColor;
  transition: all 1s;
  -webkit-animation: appear $mainTime $waitTime $repeats $animationDirection;
          animation: appear $mainTime $waitTime $repeats $animationDirection;


}

#left, #right {
  display: flex;
  width: $leftRightWidth;
  justify-content: space-around;
  height: 100%;
}

#left > *, #right * {
  height: 0;
  width: $colorBarWidth;
}

#left > #one,
#right > #five {
  background: $maniacC1;
  -webkit-animation: extend $mainTime $repeats $animationDirection;
          animation: extend $mainTime $repeats $animationDirection;
}

#left > #two,
#right > #four {
  background: $maniacC2;
  -webkit-animation: extend $mainTime $waitTime*.25 $repeats $animationDirection;
          animation: extend $mainTime $waitTime*.25 $repeats $animationDirection;
}

#left > #three,
#right > #three {
  background: $maniacC3;
  -webkit-animation: extend $mainTime $waitTime*.5 $repeats $animationDirection;
          animation: extend $mainTime $waitTime*.5 $repeats $animationDirection;
}

#left > #four,
#right > #two {
  background: $maniacC4;
  -webkit-animation: extend $mainTime $waitTime*.75 $repeats $animationDirection;
          animation: extend $mainTime $waitTime*.75 $repeats $animationDirection;
}

#left > #five,
#right > #one {
  background: $maniacC5;
  -webkit-animation: extend $mainTime $waitTime*1 $repeats $animationDirection;
          animation: extend $mainTime $waitTime*1 $repeats $animationDirection;
}

@-webkit-keyframes extend {
  from {
    height: $start*1%;
  }
  to {
    height:  $end*1%;
  }
}

@keyframes extend {
  from {
    height: $start*1%;
  }
  to {
    height:  $end*1%;
  }
}
@-webkit-keyframes appear {
  from {
    background-position: $start*1px  $end*3px;
  }
  to {
    background-position: $start*1px $start*1px;
  }
}
@keyframes appear {
  from {
    background-position: $start*1px  $end*3px;
  }
  to {
    background-position: $start*1px $start*1px;
  }
}
