// Variables

// Restate Bootstrap Variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
//rando colors
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #BD5D38 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// 5 colorscheme
$c1: #4B494E;
$c2: #807B82;
$c3: #61829E;
$c4: #446683;
$c5: mix(#A09183,$c1);

// size of text and bars
$fontsize: 7vw;
$colorBarWidth: 3.5vw;
$leftRightWidth: 5*$colorBarWidth;
// text color
$textColor: transparent;
$textBG: linear-gradient( $c3, $c4), url('http://1389blog.com/pix/white256.jpg');
//bar colors
$transparentAmount: .15;
$maniacC1: transparentize($c1,1*$transparentAmount);
$maniacC2: transparentize($c2,2*$transparentAmount);
$maniacC3: transparentize($c3,3*$transparentAmount);
$maniacC4: transparentize($c4,4*$transparentAmount);
$maniacC5: transparentize($c5,6*$transparentAmount);

// BACKGROUND
$lightsBG1: $c1;
$lightsBG2: darken($c5,10);
$lightsBG3: $c1;
// gradient width
$gradientWidth: 100% - 50%;
$middleGradPosition: 50%;
$leftGradPosition: $gradientWidth/2;
$rightGradPosition: 100% - $gradientWidth/2;

// OPENING PAGE BUTTON
$buttonHoverColor: #191919;
$shimmerOnClick: $c5;
$buttonColor: $c5;
$buttonWidth: 185px;
$buttonHeight: 60px;
$font: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;

// OPENING PAGE ANIMATIONS
$mainTime: 2s;
$waitTime: 1s;
$repeats: 1;
$animationDirection: forwards;
$start: 0;
$end: 100;

// ACCORDIAN ANIMATION
$mainacctime: 2s;
$iconacctime: .5s;
$accColor: $c4;
